{% extends "base.html" %}

{% block content %}
<div class="container-fluid justify-content-center align-items-center g-2 p-5">
  <div class="row justify-content-center align-items-center g-2 p-5">
    <div class="col">
      <h1>Welcome to the Web-App-Template!</h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center g-2 p-5">
    <div class="col">
      <img src="{{ url_for('static', filename='media/project_structure.png') }}" alt="Project Structure" height="400px">
    </div>
  </div>
</div>
{% endblock %}